*{
    margin: 0;
    padding: 0;
}
.containerPrincipal {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://wallpaperaccess.com/full/193650.jpg');
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.formCard {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.548) 0px 3px 8px;
}

.formCard, h1, input, button {
    margin: 20px;
    text-align: center;
}

.formCard {
    background-color: transparent;
    border: 1px solid rgba(68, 152, 230, 0.288); 
}

.formCard {
    background-color: rgba(255, 255, 255, 0.685);
}

